# .coveragerc to control coverage.py
[run]
branch = False
source = networkx
omit = */tests/*,*release.py, */external/*


[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

    # ignore fixtures
    def setup_module
    def teardown_module

    # ignore missing import
    #except ImportError
    #raise ImportError

    # runtime errors
    except RuntimeError 

    # hard to test (potentially long running)
    def random_powerlaw_tree_sequence
    def random_powerlaw_tree

ignore_errors = True

[html]
directory = coverage_html_report
