root = true

[*]
charset = utf-8
indent_size = 4
insert_final_newline = true
end_of_line = lf
indent_style = tab

[{*.py,setup.cfg}]
indent_style = space

[*.{yml,yaml}]
indent_size = 2
indent_style = space
