*.pyc
__pycache__
*~
.DS_Store
build/*
dist/*
networkx/version.py
examples/*/*.png
doc/networkx-documentation.zip
doc/networkx_reference.pdf
doc/networkx_tutorial.pdf
doc/build
doc/ghpages_build
.coverage
*.class

# Generated while building documentation.
doc/auto_examples
doc/modules
doc/reference/generated
doc/reference/algorithms/generated
doc/reference/classes/generated
doc/reference/readwrite/generated
doc/path.to.file

examples/advanced/edgelist.utf-8
examples/basic/grid.edgelist

# Generated when 'python setup_egg.py'
networkx.egg-info/

# Sublime Text project files
*.sublime-project
*.sublime-workspace

# Backup files
*.bak

# IPython Notebook Checkpoints
.ipynb_checkpoints/

# Vim's swap files
*.sw[op]

# Spyder project file
.spyderproject

# PyCharm project file
.idea

# VS Code settings
.vscode

# PyTest Cache
.pytest_cache

# Virtual environment directory
networkx-dev/
examples/geospatial/graph.gpkg
examples/geospatial/graph.graphml
examples/geospatial/cache/938bd1643fb6fdd622385ab3d32d38046bf4b9fa.json
examples/graphviz_drawing/G0.dot
examples/graphviz_drawing/G1.dot
examples/graphviz_drawing/G2.dot
examples/graphviz_drawing/G3.dot
examples/graphviz_drawing/G4.dot
examples/graphviz_drawing/G5.dot
examples/graphviz_drawing/G6.dot
examples/graphviz_drawing/G7.dot
examples/graphviz_drawing/G8.dot
examples/graphviz_drawing/G9.dot
examples/graphviz_drawing/G10.dot
examples/graphviz_drawing/G11.dot
examples/graphviz_drawing/G12.dot
examples/graphviz_drawing/G13.dot
examples/graphviz_drawing/G14.dot
examples/graphviz_drawing/G15.dot
examples/graphviz_drawing/G16.dot
examples/graphviz_drawing/G17.dot
examples/graphviz_drawing/G18.dot
examples/graphviz_drawing/G19.dot
examples/graphviz_drawing/grid.dot
examples/graphviz_drawing/k5.dot
