*.pyc
__pycache__
*~
.DS_Store
build/*
dist/*
networkx/version.py
examples/*/*.png
doc/networkx-documentation.zip
doc/networkx_reference.pdf
doc/networkx_tutorial.pdf
doc/build
doc/ghpages_build
doc/sg_execution_times.rst
.coverage
*.class

# Generated while building documentation.
doc/auto_examples
doc/modules
doc/reference/generated
doc/reference/algorithms/generated
doc/reference/algorithms/shortest_paths/generated
doc/reference/classes/generated
doc/reference/readwrite/generated
doc/path.to.file

examples/advanced/edgelist.utf-8
examples/basic/grid.edgelist

# Generated when 'python setup_egg.py'
networkx.egg-info/

# Sublime Text project files
*.sublime-project
*.sublime-workspace

# Backup files
*.bak

# IPython Notebook Checkpoints
.ipynb_checkpoints/

# Vim's swap files
*.sw[op]

# Spyder project file
.spyderproject

# PyCharm project file
.idea

# VS Code settings
.vscode

# PyTest Cache
.pytest_cache

# Virtual environment directory
networkx-dev/

# Benchmark products
benchmarks/env
benchmarks/results
