Aric Hagberg <aric.hagberg@gmail.com> aric
Aric Hagberg <aric.hagberg@gmail.com> aric <none@none>
Chris Ellison <cellison@cse.ucdavis.edu> cellison <none@none>
Dan Schult <dschult@colgate.edu> dschult <none@none>
