# Install pre-commit hooks via
# pre-commit install

repos:
-   repo: https://github.com/psf/black
    rev: 21.9b0
    hooks:
    - id: black
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.29.0
    hooks:
    -   id: pyupgrade
        args: [--py38-plus]
