# After changing this file, check it on:
#   http://lint.travis-ci.org/
#
language: python

cache: pip

matrix:
  include:
    - os: linux
      python: 3.7
      env:
      - EXTRA_DEPS=1
      - DEPLOY_DOCS=1
      addons:
        apt:
          packages:
          - libgdal-dev
          - graphviz
          - texlive
          - texlive-latex-extra
          - latexmk
          - libgeos-dev
          - libproj-dev

before_install:
  # prepare the system to install prerequisites or dependencies
  - source tools/travis/before_install.sh
  - source tools/travis/linux_install.sh

install:
  - echo "Nothing to see here."

script:
  - echo "Nothing to see here."

after_success:
  - if [[ $TRAVIS_PULL_REQUEST == false && $TRAVIS_BRANCH == "master" ]]; then
      pip install --upgrade pip wheel setuptools;
      pip install -r requirements.txt;
      pip install -r requirements/extra.txt;
      pip install -r requirements/example.txt;
      source tools/travis/build_docs.sh;
      source tools/travis/deploy_docs.sh;
    fi

notifications:
  email: false
