# After changing this file, check it on:
#   http://lint.travis-ci.org/
#
language: python

cache: pip

matrix:
  include:
    - os: linux
      python: 3.7
      env:
      - EXTRA_DEPS=1
      - DEPLOY_DOCS=1
      addons:
        apt:
          packages:
          - libgdal-dev
          - graphviz
          - texlive
          - texlive-latex-extra
          - latexmk
          - texlive-xetex
          - texlive-fonts-recommended
          - fonts-freefont-otf
          - xindy
          - libgeos-dev
          - libproj-dev
          - libspatialindex-dev
          - libxkbcommon-x11-0
          - optipng
          - libxcb-icccm4
          - libxcb-image0
          - libxcb-keysyms1
          - libxcb-randr0
          - libxcb-render-util0
          - xcb libxcb-xfixes0
          - libxcb-xinerama0
          - libxcb-shape0

before_install:
  # prepare the system to install prerequisites or dependencies
  - source tools/travis/before_install.sh
  - source tools/travis/linux_install.sh

install:
  - echo "Nothing to see here."

script:
  - echo "Nothing to see here."

after_success:
  - if [[ $TRAVIS_PULL_REQUEST == false && $TRAVIS_BRANCH == "master" ]]; then
      pip install --upgrade pip wheel setuptools;
      pip install -r requirements.txt;
      pip install -r requirements/extra.txt;
      pip install -r requirements/example-requirements.txt;
      pip install -r requirements/example.txt;
      pip install -U -r requirements/doc.txt;
      export CPLUS_INCLUDE_PATH=/usr/include/gdal;
      export C_INCLUDE_PATH=/usr/include/gdal;
      pip install gdal==1.11.2;
      pip install .;
      source tools/travis/build_docs.sh;
      source tools/travis/deploy_docs.sh;
    fi

notifications:
  email: false
