language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "pypy"
virtualenv:
  system_site_packages: true
before_install:
  - sudo apt-get install -qq python-numpy python-scipy
  - sudo apt-get install -qq python3-numpy python3-scipy
  - sudo apt-get install -qq python-pygraphviz
  - sudo apt-get install python-matplotlib
  - sudo apt-get install python-pydot
  - sudo apt-get install python-gdal
  - pip install pyyaml --use-mirrors
  - pip install pyparsing --use-mirrors
  - pip install coveralls --use-mirrors
# command to install dependencies
# install: "pip install"
# command to run tests

script:
  # Install networkx
  - printenv PWD
  - pip install .

  - export NX_INSTALL=`pip show networkx | grep Location | awk '{print $2"/networkx"}'`

  ### nose 1.3.0 does not tell coverage to only cover the requested
  ### package (except during the report).  So to restrict coverage, we must
  ### inform coverage through the .coveragerc file.
  - cp .coveragerc $NX_INSTALL
  - cp setup.cfg $NX_INSTALL

  # Move to new directory so that networkx is not imported from repository.
  # Export current directory for logs.
  - cd $NX_INSTALL
  - printenv PWD

  # Run nosetests.
  - nosetests --verbosity=2

after_success:
  # We must run coveralls from the git repo.
  # But we ran tests from the installed directory.
  # The .coverage file looks like it contains absolute paths,
  # but coveralls does not seem to care.
  - cp .coverage $TRAVIS_BUILD_DIR
  - cd $TRAVIS_BUILD_DIR
  - coveralls
