include MANIFEST.in
include setup.py
include CONTRIBUTING.rst
include CONTRIBUTORS.rst
include INSTALL.rst
include LICENSE.txt
include README.rst
include RELEASE.rst

recursive-include examples *.txt *.py *.edgelist *.mbox *.gz *.bz2 *.zip *.html *.js *.css
recursive-include doc *.py *.rst Makefile *.html *.png *.txt *.css *.inc *.js

include networkx/tests/*.py
include networkx/*/tests/*.txt
include networkx/*/tests/*.py
include networkx/*/*/tests/*.py
include networkx/*/*/tests/*.A99
include networkx/*/*/tests/*.B99
include networkx/*/*/tests/*.bz2
global-exclude *~
global-exclude *.pyc
global-exclude .svn

prune doc/build
prune doc/auto_examples
prune doc/modules
prune doc/reference/generated
prune doc/reference/algorithms/generated
prune doc/reference/classes/generated
prune doc/reference/readwrite/generated
