include MANIFEST.in
include setup.py
include INSTALL.txt
include LICENSE.txt
include README.rst

recursive-include examples *.py *.edgelist *.mbox *.gz *.bz2 *.zip
recursive-include doc *.py *.rst Makefile *.html *.png *.txt *.css *.inc

include scripts/*
include networkx/tests/*.txt
include networkx/tests/*.py
include networkx/*/tests/*.txt
include networkx/*/tests/*.py
include networkx/*/*/tests/*.txt
include networkx/*/*/tests/*.py
include networkx/*/*/tests/*.A99
include networkx/*/*/tests/*.B99
include networkx/*/*/tests/*.bz2

global-exclude *~
global-exclude *.pyc
global-exclude .svn

prune doc/build
prune doc/source/reference/generated
prune doc/source/examples
prune doc/source/static/examples
prune doc/source/templates/gallery.html
