# See: https://circleci.com/docs/2.0/language-python/

version: 2
jobs:
  build:
    working_directory: ~/repo
    docker:
      - image: circleci/python:3.8.5-buster

    steps:
      - checkout

      - run:
          name: Update apt-get
          command: |
            sudo apt-get update

      - run:
          name: Install Graphviz
          command: |
            sudo apt-get install graphviz libgraphviz-dev

      - run:
          name: Install TeX
          command: |
            sudo apt-get install texlive texlive-latex-extra latexmk

      - run:
          name: Install Python dependencies
          command: |
            python3 -m venv venv
            source venv/bin/activate
            pip install --upgrade pip wheel setuptools
            pip install -r requirements.txt
            pip install -r requirements/doc.txt
            pip install pydot pygraphviz

      - run:
          name: Install
          command: |
            source venv/bin/activate
            pip install -e .

      - run:
          name: Build docs
          command: |
            source venv/bin/activate
            make -C doc/ html
            make -C doc/ latexpdf LATEXOPTS="-file-line-error -halt-on-error"
            cp -a doc/build/latex/networkx_reference.pdf doc/build/html/_downloads/.

      - store_artifacts:
          path: doc/build/html

      - persist_to_workspace:
          root: doc/build
          paths:
            - html

  deploy:
    working_directory: ~/repo
    docker:
      - image: circleci/python:3.8.3-buster

    steps:
      - attach_workspace:
          at: /tmp/build

      - add_ssh_keys:
          fingerprints:
            - "e5:04:e6:c4:d6:c3:34:b9:02:e6:9f:25:1c:01:9e:e9"

      - run:
          name: upload_devdocs
          command: |
            set -e
            git clone git@github.com:networkx/documentation.git
            cd documentation
            rm -rf latest
            cp -R /tmp/build/html latest
            git config --global user.email "networkx-circleci-bot@nomail"
            git config --global user.name "networkx-circleci-bot"
            git config --global push.default simple;
            git commit -am "Docs built from $CIRCLE_SHA1"
            git push origin gh-pages

workflows:
  version: 2
  default:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
