# See: https://circleci.com/docs/2.0/language-python/

version: 2
jobs:
  build:
    working_directory: ~/repo
    docker:
      - image: circleci/python:3.8.5-buster

    steps:
      - checkout

      - run:
          name: Update apt-get
          command: |
            sudo apt-get update

      - run:
          name: Install Graphviz
          command: |
            sudo apt-get install graphviz libgraphviz-dev

      - run:
          name: Install TeX
          command: |
            sudo apt-get install texlive texlive-latex-extra latexmk

      - run:
          name: Install cartopy dependencies
          command: |
            sudo apt-get install libgeos-dev libproj-dev

      - run:
          name: Install pysal dependencies
          command: |
            sudo apt-get install libspatialindex-dev
      
      - run:
          name: Install mayavi dependencies
          command : |
            sudo apt-get --no-install-recommends install -y libxkbcommon-x11-0 optipng libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 xcb libxcb-xfixes0 libxcb-xinerama0 libxcb-shape0

      - run:
          name: Configure for headless mayavi
          command: |
            echo "export DISPLAY=:99" >> $BASH_ENV
            /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -screen 0 1400x200x24 -ac +extension GLX +render -noreset;

      - run:
          name: Install Python dependencies
          command: |
            python3 -m venv venv
            source venv/bin/activate
            pip install --upgrade pip wheel setuptools
            pip install -r requirements.txt
            pip install -r requirements/extra.txt
            pip install -r requirements/example.txt
            pip install -U -r requirements/doc.txt

      - run:
          name: Install
          command: |
            source venv/bin/activate
            pip install -e .

      - run:
          name: Build docs
          command: |
            source venv/bin/activate
            make -C doc/ html
            make -C doc/ latexpdf LATEXOPTS="-file-line-error -halt-on-error"
            cp -a doc/build/latex/networkx_reference.pdf doc/build/html/_downloads/.

      - store_artifacts:
          path: doc/build/html
