{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
<h1>About this demo</h1>
<ul>
  <li>
    <strong>Algorithm:</strong> Maximum fractional matching with the smallest
    number of fractional edges, as implemented in
    <a href="https://github.com/Sibo523/lemur_networkx/blob/main/networkx/algorithms/matching.py"
       target="_blank">Lemur NetworkX</a>.
  </li>
  <li>
    <strong>Site code:</strong>
    <a href="https://github.com/&lt;your-repo&gt;" target="_blank">GitHub repository</a>.
  </li>
  <li>
    <strong>Authors:</strong> &lt;&nbsp;Roi Sibony&gt;</li>
</ul>
{% endblock %}
