name: test

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  base:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        os: [ubuntu, macos, windows]
        python-version: ["3.13", "3.14-dev", "3.14t-dev"]
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install packages
        run: |
          python -m pip install --upgrade pip
          python -m pip install .[test]
          python -m pip list

      - name: Test NetworkX
        run: |
          pytest -n auto --durations=10 --pyargs networkx

  default:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        os: [ubuntu, macos, windows]
        python-version: ["3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install packages
        run: |
          python -m pip install --upgrade pip
          python -m pip install .[default,test]
          python -m pip list

      - name: Test for warnings at import time
        run: python -Werror -c "import networkx"

      - name: Test NetworkX
        run: |
          pytest -n auto --doctest-modules --durations=10 --pyargs networkx

  default-without-scipy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Install packages
        run: |
          python -m pip install --upgrade pip
          python -m pip install .[default,test]
          python -m pip uninstall -y scipy  # All default dependencies except scipy
          python -m pip list

      - name: Test for warnings at import time
        run: python -Werror -c "import networkx"

      - name: Test NetworkX
        run: |
          pytest -n auto --doctest-modules --durations=10 --pyargs networkx

  dispatch:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install packages
        run: |
          python -m pip install --upgrade pip
          python -m pip install .[default,test]
          python -m pip list

      - name: Test Dispatching
        run: |
          NETWORKX_TEST_BACKEND=nx_loopback pytest -n auto --doctest-modules --durations=10 --pyargs networkx

  extra:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Before install (Linux)
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install graphviz graphviz-dev

      - name: Before install (macOS)
        if: runner.os == 'macOS'
        run: brew install graphviz

      - name: Before install (Windows)
        if: runner.os == 'Windows'
        run: choco install graphviz

      - name: Install packages (Linux)
        if: runner.os == 'Linux'
        run: |
          pip install --upgrade pip
          pip install .[default,test,extra]
          pip list
      - name: Install packages (macOS)
        if: runner.os == 'macOS'
        run: |
          pip install --upgrade pip
          pip install --no-cache-dir \
                      --config-settings="--global-option=build_ext" \
                      --config-settings="--global-option=-I$(brew --prefix graphviz)/include/" \
                      --config-settings="--global-option=-L$(brew --prefix graphviz)/lib/" \
                      pygraphviz
          pip install .[default,test,extra]
          pip list
      - name: Install Pygraphviz packages  (windows)
        if: runner.os == 'Windows'
        run: |
          echo "C:\Program Files\Graphviz\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          python -m pip install --upgrade pip
          python -m pip install --config-settings="--global-option=build_ext" `
              --config-settings="--global-option=-IC:\Program Files\Graphviz\include" `
              --config-settings="--global-option=-LC:\Program Files\Graphviz\lib" `
              pygraphviz
      - name: Install packages (windows)
        if: runner.os == 'Windows'
        run: |
          echo "C:\Program Files\Graphviz\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          python -m pip install .[default,test,extra]
          python -m pip list

      - name: Test NetworkX
        run: |
          pytest -n auto --doctest-modules --durations=10 --pyargs networkx

  prerelease:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        os: [ubuntu, macos]
        python-version: ["3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install packages
        run: |
          pip install --upgrade pip
          pip install --pre .[default,test]
          pip list

      - name: Test NetworkX
        run: |
          pytest -n auto --doctest-modules --durations=10 --pyargs networkx

  slow-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install packages
        run: |
          python -m pip install --upgrade pip
          python -m pip install .[default,test]
          python -m pip list

      - name: Run slow tests
        # NOTE: --runslow adds slow tests to the collection while -m slow
        # filters out tests that are *not* marked slow, leaving only the
        # slow tests
        run: |
          pytest -n auto --durations=20 --runslow -m slow --pyargs networkx
