name: Weekly Extensive Dispatch Run

on:
  schedule:
    - cron: "0 0 * * 0" # Every Sunday at midnight UTC
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  dispatch:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install packages
        run: |
          python -m pip install --upgrade pip
          python -m pip install .[default,test]
          # Install trusted backends, but not their dependencies.
          # We only need to use the "networkx.backend_info" entry-point.
          # This is the nightly wheel for nx-cugraph.
          pip install nx-cugraph-cu11 --extra-index-url https://pypi.anaconda.org/rapidsai-wheels-nightly/simple --no-deps --pre
          # Development version of GraphBLAS backend
          pip install git+https://github.com/python-graphblas/graphblas-algorithms.git@main --no-deps
          # Development version of nx-parallel backend
          # Comment this out for now, nx-parallel doesn't support 3.11
          # pip install git+https://github.com/networkx/nx-parallel.git@main --no-deps
          # Development version of Neptune Analytics backend
          pip install git+https://github.com/awslabs/nx-neptune.git@main --no-deps
          python -m pip list

      - run: python -c 'import networkx'
      - name: Test Dispatching
        run: |
          pytest -n auto --doctest-modules --durations=10 --pyargs networkx
        env:
          NETWORKX_TEST_BACKEND: nx_loopback
